<div class="outer">
  <a class="back-button" routerLink="/secondPage">
    <i class="fa fa-arrow-left"></i>
  </a>
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Reset Password</h3>
          </div>
          <div class="panel-body p-3">
            <form>
              <div class="form-group pt-3">
                <label for="email" class="form-label" >Email</label>
                <div class="input-field">
                  <span class="fa fa-envelope p-2"></span>
                  <input type="email" class="form-control" id="email" name="email" (input)="onGetMail($event)" >
                </div>
              </div>

              <button type="submit " class="btn btn-primary btn-block mt-4 w-100" (click)="onClick() " [disabled]="!locked" >Send Mail</button>

              <div class="col-sm-2" *ngIf="!showDots">
                <div id="dots5" style="margin-left: 20px; margin-top: -115px;">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>



            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


