<div class="example bg-1">
  <div class="panel">
    <div class="horizontalblock">
      <h3>Mes sujets encadré:</h3>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
            </a>
          </li>
          <li class="page-item">
            <div class="page-link">{{p}}</div>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true"><i class="fa-solid fa-arrow-right"></i> </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr style="text-align: center">
        <th scope="col">Name</th>
        <th scope="col">Equipe</th>
        <th scope="col">Action</th>

      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let sujet of lisSubjects;index as i ">
        <tr style="text-align: center">
          <td>{{sujet.nomSujet}}</td>
          <td>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#etudiantDuGroup"
                    (click)="myIndex(i);getEquipeOfSujet()" style="margin-right: 3px;">Voir Equipe
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal"
                    (click)="myIndex(i)" style="margin-right: 3px;">Validate Sujet
            </button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ListJury"
                    (click)="myIndex(i);getAllEnseignant()" style="margin-left: 3px;">Invite Membres Jury
            </button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ListInvitedJury"
                    (click)="myIndex(i);getInvitedJury()" style="margin-left: 3px;">Invited Jury
            </button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ChangerDateSoutenance"
                    (click)="myIndex(i);" style="margin-left: 3px;">Changer Date Soutenance
            </button>
          </td>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

<!--modal fix date -->
<div class="modal fade" id="ChangerDateSoutenance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ChangerDateSoutenanceLabel">Veuiller Changer la date :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <label>
            <input type="datetime-local" name="party" value="timeRendesVous" [(ngModel)]="UpdateDate"/>
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" (click)="Update()">Changer Date</button>
      </div>
    </div>
  </div>
</div>
<!--**********************************************************-->

<!--modal fix date -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Soutenance :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <label>
            <input type="datetime-local" name="party" value="timeRendesVous"
                   [(ngModel)]="soutenanceResponse.dateSoutenance"/>
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" (click)="validateSujet();addSoutenance()">fix date</button>
      </div>
    </div>
  </div>
</div>
<!--**********************************************************-->

<!--Etudiant Du Group -->
<div class="modal fade" id="etudiantDuGroup" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="etudiantDuGroupLabel">Members Du Groupe :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
          <tr style="text-align: center">
            <th scope="col">Etudiant</th>
            <th scope="col">Nom Complete</th>
            <th scope="col">Email</th>
          </tr>
          </thead>
          <tbody>

          <ng-container *ngFor="let membe of member;index as j">
            <tr style="text-align: center">
              <td>{{j}}</td>
              <td>{{membe[0]}}</td>
              <td>{{membe[1]}}</td>
          </ng-container>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--**********************************************************-->


<!--List Jury  -->
<div class="modal fade " id="ListJury" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
     aria-hidden="true">
  <div class="modal-dialog pos" role="document">
    <div class="modal-content sizeModale">
      <div class="modal-header">
        <h5 class="modal-title" id="listJuryLabel">List des Enseignant :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <nav aria-label="Page navigation example" style="right:50%;">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
              </a>
            </li>
            <li class="page-item">
              <div class="page-link">{{p}}</div>
            </li>
            <li class="page-item">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true"><i class="fa-solid fa-arrow-right"></i> </span>
              </a>
            </li>
          </ul>
        </nav>
        <table class="table table-bordered">
          <thead>
          <tr style="text-align: center">
            <th scope="col">Enseignant</th>
            <th scope="col">Nom Complete</th>
            <th scope="col">Email</th>
            <th scope="col">Departement</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>

          <ng-container *ngFor="let ense of enseignant;index as j">
            <tr style="text-align: center">
              <td>{{j}}</td>
              <td>{{ense.nom}}{{ense.prenom}}</td>
              <td>{{ense.email}}</td>
              <td>{{ense.nomDepartement}}</td>
              <td>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#TypeJury"
                        style="margin-left: 3px;" (click)="enseignantIndex(j)">Invite
                </button>
              </td>
          </ng-container>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--**********************************************************-->


<!--List Jury  -->
<div class="modal fade " id="TypeJury" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
     aria-hidden="true">
  <div class="modal-dialog pos" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="TypeJuryLabel">List des Enseignant :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" [(ngModel)]="typeJury" name="typeJury">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary" (click)="getSoutenanceByIdSujet()">Invite</button>
      </div>
    </div>
  </div>
</div>
<!--**********************************************************-->


<!--List Jury  -->
<div class="modal fade " id="ListInvitedJury" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
     aria-hidden="true">
  <div class="modal-dialog pos" role="document">
    <div class="modal-content sizeModale">
      <div class="modal-header">
        <h5 class="modal-title" id="listInvitedJuryLabel">List des Enseignant :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
          <tr style="text-align: center">
            <th scope="col">Enseignant</th>
            <th scope="col">Nom Complete</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>
          </tr>
          </thead>
          <tbody>

          <ng-container *ngFor="let jur of Jury;index as j">
            <tr style="text-align: center">
              <td>{{j}}</td>
              <td>{{jur.nomJury}}</td>
              <td>{{jur.mailJury}}</td>
              <td>{{jur.typeJury}}</td>

          </ng-container>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary" (click)="shareDriveLink()">Publie Lien Drive</button>
      </div>
    </div>
  </div>
</div>
<!--**********************************************************-->
