<div class="container">
  <form>
    <div class="form-group">
      <label for="Domaine">Domaine Name :</label>
      <input type="Domaine" class="form-control" id="Domaine" aria-describedby="emailHelp" placeholder="Domaine Name">
    </div>

    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <ng-container *ngFor="let uni of university;index as j">
          <button class="dropdown-item" (click)="selectUniversity(uni)">{{uni.nomUniversite}}</button>
        </ng-container>
      </div>
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio" value="Enseignant" >Enseignant
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio" value="Etudiant" >Etudiant
      </label>
    </div>

    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
  </form>
</div>
