<div class="example bg-1">
  <section class="panel">
    <header class="panel__header">
      <h1 class="panel__title">Domaines :</h1>
    </header>
  <button class="btn btn-info" style="float:right; margin-bottom: 10px;" data-toggle="modal" data-target="#addDomaine" >Add Domaine</button>
  <table class="table table-bordered" >
    <thead>
    <tr style="text-align: center">
      <th scope="col">Nom Domaine</th>
      <th scope="col">University</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>

    <ng-container *ngFor="let membe of domaines;index as j">
      <tr style="text-align: center">
        <td>{{membe.nomDomaine}}</td>
        <td>{{membe.nomUniversite}}</td>
        <td *ngIf="membe.etudiant">Etudiant</td>
        <td *ngIf="!membe.etudiant">Enseignant</td>
        <td>
          <button class="btn btn-danger" style="margin-right:2px;" (click)="myDomaine(j)">Delete</button>
        </td>
    </ng-container>
    </tbody>
  </table>
  </section>
</div>

<div class="modal fade" id="addDomaine" tabindex="-1" role="dialog" aria-labelledby="addDomaine" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDomaineLabel">Create Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Domaine">Domaine Name :</label>
            <input type="Domaine" class="form-control" id="Domaine" aria-describedby="emailHelp" placeholder="Domaine Name" name="domaineName" [(ngModel)]="domaineName">
          </div>

          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <ng-container *ngFor="let uni of universityList;index as j">
                <button class="dropdown-item" (click)="selectUniversity(uni)">{{uni.nomUniversite}}</button>
              </ng-container>
            </div>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio" value="Enseignant" >Enseignant
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio" value="Etudiant" >Etudiant
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success"  (click)="submit()" >Join</button>
      </div>
    </div>
  </div>
</div>


