
<main class="site-wrapper">
  <div class="loading-bar">
    <div class="progress-bar3" >
    </div>
  </div>
  <div class="pt-table desktop-768">
    <div class="pt-tablecell page-home relative" style="background-image: url(https://c0.wallpaperflare.com/path/534/41/125/school-books-young-adult-education-3c23f0ea26f92dd38c32e949214ee647.jpg);
  background-position: center;
  background-size: cover;
  ">
      <div class="overlay">
        <div class="container">
          <a class="back-button" routerLink="../">
            <i class="fa fa-arrow-left"></i>
          </a>
          <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
              <div class="panel border bg-white">
                <div class="panel-heading">
                  <h3 class="pt-3 font-weight-bold">Inscription</h3>
                </div>
                <div class="panel-body p-3">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
