<main class="site-wrapper">
  <div class="pt-table desktop-768">
    <div class="pt-tablecell page-home relative" style="background-image: url(https://c0.wallpaperflare.com/path/534/41/125/school-books-young-adult-education-3c23f0ea26f92dd38c32e949214ee647.jpg);
  background-position: center;
  background-size: cover;">
      <div class="overlay"></div>
      <a class="back-button" routerLink="/">
        <i class="fa fa-arrow-left"></i>
      </a>
      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="hexagon-menu clear">
              <div class="hexagon-item" style="margin-right: 30%">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a  class="hex-content" routerLink="/login/enseignantLog">
                                          <span class="hex-content-inner">
                                              <span class="icon">
                                                <i class="fa-solid fa-chalkboard-user"></i>
                                              </span>
                                              <span class="title">Enseignant</span>
                                          </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a  class="hex-content" routerLink="/login/etudiantLog">
                                          <span class="hex-content-inner">
                                              <span class="icon">
                                                  <i class="fa-solid fa-user-graduate"></i>
                                              </span>
                                              <span class="title">Etudiant</span>
                                          </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
