<div class="example bg-1">
  <section class="panel">
    <header class="panel__header">

      <div class="horizontalblock">
        <div class="block1">
          <h1 class="panel__title">
            Mes Remarques:
          </h1>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" (click)="changePage(-1)" aria-label="Previous">
                  <span aria-hidden="true"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="changePage(+1)" aria-label="Next">
                  <span aria-hidden="true"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </header>
    <div class="panel__content">
      <table class="table">
        <thead>
        <tr style="text-align: center">
          <th class="col">~</th>
          <th class="col-6">Remarque</th>
          <th class="col">Note</th>
          <th class="col">Target</th>
          <th class="col">Enseignants</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let rem of remarqueResponse;index as j">
          <tr>
            <td>{{j + 1}}</td>
            <td>{{(rem.remarque).split('~')[1]}}</td>
            <td>{{rem.note}}</td>
            <td>{{rem.target}}</td>
            <td>{{(rem.remarque).split('~')[0]}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>

    </div>

  </section>
</div>


