.btn-logout{
  background-color: inherit;
  border: none;
  position: fixed;
  right: 20px;
  top: 1vh;
}

.btn-login{
  background-color: inherit;
  border: none;
  position: fixed;
  right: 20px;
  top: 0.5vh;
  margin-bottom: 96vh;
}

.whitish{
  color: white;
}

.account-container{
  top: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4.5vw;
}

.navbar{
  height: 6vh;
}

/******************************************/
.mll{
  margin-left: 76%;
}

.dropdown-toggle{
  margin-top: 2vh;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  height: 5vh;
  border: 2px solid #4d1259;
  font-weight: 600;
}

.dropdown-toggle:focus{

  box-shadow: none !important;
  color: #891c9f;
}

.dropdown-item unclickable{
  color: #ffffff;
  background-color: #4d1259;
  padding: 12px;
}

.dropdown-toggle::after {

  display: none;
}

.dropdown{
  margin-right: 4.5vw;
}
.dropdown-menu{
  width: 16vw;
  border: 2px solid #4d1259;
  padding: 0rem 0;
  transform: translate3d(0px, 50px, 0px) !important;

}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff;
  background-color: #4d1259;
  padding: 12px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 12px;

}

.fa-solid fa-user-graduate{
  margin-right: 10px;
}

.noncliquable{
  color: #ffffff;
  background-color: #4d1259;
  padding: 12px;
}

span{
  margin-left: 15px;
  margin-right: 2px;
}
