.header nav {
  background-color: lightgray;
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}

.btn{
  margin-top:10px;
  border-radius:15px ;
}
.panel{
  margin-top: 5%;;
  background-color: white;
  border: 3px solid #1e2530;
  border-radius: 12px;
}
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#bounds{
  word-wrap: break-word;
}

#btnLeft {
  position: absolute;
  left: 15px;
}
