<div class="conteneur bg-1">
  <nav class="collector" >

    <section class="c">
    <section class="sec1" >
      <table class="table "style="width: 400px;height: 79.6vh; border-right:1px solid black">

      <ul class="team mt-5" >
        <thead class="headStyle ">
        <li>{{sujet.nomEnseignant}}</li>
        <li>{{sujet.emailEnseignant}}</li>
        <tr></tr>
        </thead>
        <tbody>
        <tr>
          <ng-container *ngFor="let meb of member;index as i">
            <li class="etud">{{meb[0]}}</li>
            <li class="mail">{{meb[1]}}</li>
          </ng-container>
        </tr>
        </tbody>
        <tfoot >

          <li>rendez vous</li>
          <li>Prise Rendez Vous: <button class="btn  btn-warning" (click)="priseRendesVous()">Click</button></li>
          <li>Date de rendez vous : {{rendezvousResponse.dateRendezvous|date:"Y-M-d HH:mm"}}</li>
          <li>Date de rendez vous : {{rendezvousResponse.fixed}}</li>
          <li *ngIf="rendezvousResponse.dateRendezvous!=null && !rendezvousResponse.fixed">Vote Pour le Rendez vous:   <div class="buttons" >
            <button  (click)="voteRendezVous(1)">Yes</button>
            <button (click)="voteRendezVous(-1)">No</button>
          </div></li>
        </tfoot>
      </ul>
    </table>


  </section>

  <section class="sec2 m-5">
    <div class="col-12">
      <div>
        <h1>{{sujet.nomSujet}}</h1>
        <h3>{{sujet.descriptionSujet}}</h3>
      </div>
      <label>lien drive :</label>
      <a href="{{equipeRequire.driveLink}}">Lien Drive</a>
      <button class="btn btn-success add" data-toggle="modal" data-target="#exampleModal" >+</button>
    </div>
    <div *ngIf="!hasSout" class="row" style="margin-top: 100px;">
      <div>
        <h1>Soutenance :</h1>
        <h3>Date Soutenance :{{soutenance.dateSoutenance|date:"Y-M-d HH:mm"}}</h3>
        <table class="table table-bordered" >
          <thead>
          <tr style="text-align: center">
            <th scope="col">Enseignant</th>
            <th scope="col">Nom Complete</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>
          </tr>
          </thead>
          <tbody>

          <ng-container *ngFor="let jur of juryResponse;index as j">
            <tr style="text-align: center">
              <td>{{j}}</td>
              <td>{{jur.nomJury}}</td>
              <td>{{jur.mailJury}}</td>
              <td>{{jur.typeJury}}</td>

          </ng-container>
          </tbody>
        </table>
      </div>
    </div>

  </section>

</section>

  </nav>
</div>



<!--modal add sujet -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <label for="liendrive" class="col-form-label">Add lien Drive :</label>
            <input type="text" class="form-control" id="liendrive" name="liendrive" [(ngModel)]="driveLink">
          </div>
          <div class="form-group" style="margin-top: 5px;">
          <button type="button" class="btn btn-secondary" (click)="addDriveLink()">Add Lien drive</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--**********************************************************-->


<!--<div class="container">-->
<!--  <button class="btn btn-info" (click)="priseRendesVous()">Rendes-vous</button>-->
<!--  <div>-->
<!--    <button class="btn btn-warning" (click)="getRendezVousBySelf()">Get my rendes vous</button>-->
<!--  </div>-->

<!--  <div>-->
<!--    <button class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">add lien drive</button>-->
<!--  </div>-->

<!--  <div>-->
<!--    <button class="btn btn-info" (click)="getEquipeBySelf()">equipe</button>-->
<!--  </div>-->


<!--  <div>-->
<!--    <button class="btn btn-info" >Validate Sujet</button>-->
<!--  </div>-->


<!--  <div class="buttons" >-->
<!--    <button (click)="voteRendezVous(1)">Yes</button>-->
<!--    <button (click)="voteRendezVous(-1)">No</button>-->
<!--  </div>-->

<!--  <div>-->
<!--    <button class="btn btn-warning" data-toggle="modal" data-target="#Remarque" (click)="getMyRemarque()">Voir Remarque</button>-->
<!--  </div>-->

<!--</div>-->


<!--&lt;!&ndash;modal Voir Remarque &ndash;&gt;-->
<!--<div class="modal fade" id="Remarque" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="RemarqueLabel">Les Remarque :</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--       <table class="table table-bordered">-->
<!--         <thead>-->
<!--         <th>~</th>-->
<!--         <th>Remarque</th>-->
<!--         <th>Note</th>-->
<!--         <th>Target</th>-->
<!--         <th>Enseignant</th>-->
<!--         </thead>-->
<!--         <tbody>-->
<!--        <ng-container *ngFor="let rem of remarqueResponse;index as j">-->
<!--          <tr>-->
<!--            <td>{{j+1}}</td>-->
<!--            <td>{{(rem.remarque).split('~')[1]}}</td>-->
<!--            <td>{{rem.note}}</td>-->
<!--            <td>{{rem.target}}</td>-->
<!--            <td>{{(rem.remarque).split('~')[0]}}</td>-->
<!--          </tr>-->
<!--        </ng-container>-->
<!--         </tbody>-->
<!--       </table>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;**********************************************************&ndash;&gt;-->
