<main class="site-wrapper">
  <div class="loading-bar">
    <div class="progress-bar3">
    </div>
  </div>
  <div class="pt-table desktop-768">
    <div class="pt-tablecell page-home relative" style="background-image: url(https://c0.wallpaperflare.com/path/534/41/125/school-books-young-adult-education-3c23f0ea26f92dd38c32e949214ee647.jpg);
  background-position: center;
  background-size: cover;">
      <div class="overlay">
        <div class="container mt-5">

          <div class="row mt-5" >
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 mt-5" >
              <div class="panel border bg-white mt-5">

                <div class="panel-heading">
                  <h3 class="pt-3 font-weight-bold">Changement du Mot De Passe</h3>
                </div>
                <div class="panel-body p-3">
                  <form>
                    <div class="form-group pt-3">
                      <label for="password" class="form-label">Nouveau Mot de passe</label>
                      <div class="input-field">
                        <span class="fa fa-lock p-2"></span>
                        <input [type]="type" class="form-control" id="password" name="password" [(ngModel)]="password1">
                        <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                      </div>
                    </div>
                    <div class="form-group pt-3">
                      <label for="password1" class="form-label">Nouveau Mot de passe</label>
                      <div class="input-field">
                        <span class="fa fa-lock p-2"></span>
                        <input [type]="type1" class="form-control" id="password1" name="password"
                               [(ngModel)]="password2">
                        <span (click)="hideShowPass1()" class="fa {{eyeIcon1}}"></span>
                      </div>
                    </div>
                    <button type="submit " class="btn btn-primary btn-block mt-4 w-100" (click)="UpdateUser()">
                      Modifier
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
