body {
  background-color: #09455b
}

.height-100 {
  height: 100vh
}

.card {
  width: 400px;
  border: none;
  height: 300px;
  box-shadow: 0px 5px 20px 0px #d2dae3;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

.card h6 {
  color: #09455b;
  font-size: 20px
}

.inputs input {
  width: 40px;
  height: 40px
}

.input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.offset-md-2 col-lg-5 col-md-7 offset-lg-4 mt-5 {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%
}
.cust{
  border: 2px solid red;
}


.form-control:focus {
  box-shadow: none;
  border: 2px solid red;
}



.validate {
  border-radius: 20px;
  height: 40px;
  background-color: #09455b;
  border: 1px solid #09455b;
  width: 140px
}

.validate:hover {

  background-color: #fff;
  color: #09455b;
  border: 2px solid #b8004d;

}

.pt-table.desktop-768 .pt-tablecell {
  padding-bottom: 110px;
  padding-top: 60px;
}

.page-home {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.page-home .overlay {
  background-color: rgba(14, 17, 30, 0.80);
}

.relative {
  position: relative;
}

.pt-table {
  display: table;
  width: 100%;
  height: -webkit-calc(100vh - 6.4vh);
  height: -moz-calc(100vh - 6.4vh);
  height: calc(100vh - 6.4vh);
}

.pt-table.desktop-768 .pt-tablecell {
  padding-bottom: 110px;
  padding-top: 60px;
}

.pt-tablecell {
  display: table-cell;
  vertical-align: middle;
}

.panel-heading {
  text-align: center;
  margin-bottom: 10px;
  z-index: 9;
}

#forget, #forget1 {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}

.btn {
  margin-top: 20px;
  border-radius: 15px;
}

.panel {
  z-index: 8;
  box-shadow: 1px 1px 1px rgb(20, 20, 20);
  border-radius: 12px;
  margin-top: 20%;
}

.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #4343ff
}

.input-field.error {
  border: 1px solid red;
  color: red;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.fa-eye-slash.btn {
  border: none;
  outline: none;
  box-shadow: none;
}

img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 30px;
}

.back-button:hover {
  color: #d0c3c3;
}

.panel-body {
  z-index: 10;
}

.row {
  z-index: 6;
}


@media (min-width: 1200px) {
  .col-lg-offset-2 {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
  }
}

@media (min-width: 1200px) {
  .col-lg-8 {
    width: 50%;
  }
}

.panel-heading {
  text-align: center;
  margin-bottom: 10px;

}

#forget, #forget1 {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}

.btn {
  margin-top: 20px;
  border-radius: 15px;
}


.panel {
  box-shadow: 20px 20px 80px rgb(218, 218, 218);
  border-radius: 16px;
  height: fit-content;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #4343ff
}

.input-field.error {
  border: 1px solid red;
  color: red;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.fa-eye-slash.btn {
  border: none;
  outline: none;
  box-shadow: none;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
}

/* loading bar */

.loading-bar {
  z-index: 999;
}

.progress-bar3 {
  width: 100%;
  height: 0.4vh;
  background: linear-gradient(to right, #741f79, #811875, #8c1070, #97046a, #a10064, #aa005c, #b10055, #b8004d, #bd0044, #c10c3b);
  background-size: 200% auto;
  animation: rainbow 3s ease infinite;
}

.static-bar3 {
  width: 100%;
  height: 0.4vh;
  background-color: #4d1259;
}

@keyframes rainbow {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
}

